* {
    background-color: #282c34;
    text-align: center;
    color: white;
}

button {
    background-color: white;
    font: 1em sans-serif;
    color: #000;
}

.main {
    border: 2px solid lime;
    border-radius: 20px;
    width: 50%;
    margin: 1rem auto;
}